/* Design coming soon */
.navbar {
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-border);
    padding: 15px 0px;
    position: sticky;
    top: 0px;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0px 40px;
    margin: 0px auto;
    align-items: center;
}

.navbarLogo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.logoIcon img {
    height: 40px;
    width: auto;
}

.logoText {
    font-size: 25px;
    color: var(--color-primary);
    font-weight: 700;
}

.navbarLinks {
    display: flex;
    gap: 30px;
    margin: 0px;
    padding: 0px;
}

.navItem {
    color: var(--color-text);
    font-size: 15px;
    transition: 0.5s ease-in-out;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}

.navItem:hover {
    color: var(--color-primary);
}

.navItem:hover::before {
    content: "• ";
    color: var(--color-primary);
    position: absolute;
    left: -12px;
}

/* .loginBtn {
    background-color: var(--color-primary);
    color: var(--color-bg);
    text-decoration: none;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 50px;
    transition: 0.5s;
}

.loginBtn:hover {
    background-color: var(--color-secondary);
} */
 .profileSvg{
    width: 20px;
    height: 20px;
    filter: invert(1) brightness(2);
    transform: translateX(-1px);
 }

.profileBtn {
    background-color: var(--color-primary);
    color: var(--color-text);
    text-decoration: none;
    font-size: 20px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-border);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transition: 0.5s ease;
}

.profileBtn:hover{
    background-color: var(--color-secondary);
}